#fields
public net.minecraft.client.model.PlayerModel f_103380_ #slim
public com.mojang.blaze3d.shaders.Uniform f_85591_ # dirty
public-f com.mojang.blaze3d.shaders.Uniform f_85588_ # intValues
public-f com.mojang.blaze3d.shaders.Uniform f_85589_ # floatValues
public net.minecraft.client.renderer.ShaderInstance f_173331_ # uniforms

#static
public net.minecraft.client.renderer.RenderStateShard f_110112_ # EQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard f_110152_ # LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard f_110139_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard f_110145_ # BLOCK_SHEET_MIPPED

#methods
public net.minecraft.client.renderer.ShaderInstance m_173354_(Lcom/google/gson/JsonElement;)V # parseUniformNode
public-f com.mojang.blaze3d.shaders.Uniform m_5985_(F)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_7971_(FF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_166700_(IF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5889_(FFF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142276_(Lorg/joml/Vector3f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5805_(FFFF)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142558_(Lorg/joml/Vector4f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5808_(FFFF)V # setSafe
public-f com.mojang.blaze3d.shaders.Uniform m_7401_(IIII)V # setSafe
public-f com.mojang.blaze3d.shaders.Uniform m_142617_(I)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142326_(II)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142693_(III)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142492_(IIII)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_5941_([F)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_142588_(FFFF)V # setMat2x2
public-f com.mojang.blaze3d.shaders.Uniform m_141964_(FFFFFF)V # setMat2x3
public-f com.mojang.blaze3d.shaders.Uniform m_142005_(FFFFFFFF)V # setMat2x4
public-f com.mojang.blaze3d.shaders.Uniform m_141963_(FFFFFF)V # setMat3x2
public-f com.mojang.blaze3d.shaders.Uniform m_142217_(FFFFFFFFF)V # setMat3x3
public-f com.mojang.blaze3d.shaders.Uniform m_142604_(FFFFFFFFFFFF)V # setMat3x4
public-f com.mojang.blaze3d.shaders.Uniform m_142004_(FFFFFFFF)V # setMat4x2
public-f com.mojang.blaze3d.shaders.Uniform m_142605_(FFFFFFFFFFFF)V # setMat4x3
public-f com.mojang.blaze3d.shaders.Uniform m_141978_(FFFFFFFFFFFFFFFF)V # setMat4x4
public-f com.mojang.blaze3d.shaders.Uniform m_5679_(Lorg/joml/Matrix4f;)V # set
public-f com.mojang.blaze3d.shaders.Uniform m_200759_(Lorg/joml/Matrix3f;)V # set